{% extends 'base.html' %}
{% load truncate_chars %}
{% load static %}
{% block title %}Pizza Order{% endblock %}
{% block content %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for pizza in pizzas%}
      <div class="col">
        <div class="card shadow-lg ">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" 
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" 
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>{{ pizza.name }}</title>
             <image href="media/images/default_pizza_pic.jpg" width="100%" height="100%" class="img-fluid"/> 
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
          </svg>
          <div class="card-body rounded-5">
            <div>
              <span class="navbar-brand overflow-hidden text-primary " 
                data-bs-toggle="modal" title="Toppings" 
                data-bs-target="#pizzaDetails_{{ pizza.id }}">
                {{ pizza.name|truncate_chars:50 }}
              </span>

            </div>
            <div class="d-flex  justify-content-between align-items-end my-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-danger dropdown-toggle no-hover" 
                  id="customizePizza_{{ pizza.id }}" data-bs-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
                  Customize
                </button>

                <!--Dropdown items -->

                <ul class="dropdown-menu p-3 rounded-3" aria-labelledby="customizePizza_{{ pizza.id }}" 
                    style="border:none; background-color:aliceblue;">
                  <form class="card  text-dark bg-light mb-3 rounded-3 customiziationForm mb-3 " 
                   method="POST" data-pizzaid="{{ pizza.id }}" data-maxQuantity={{maxQuantity}} style="max-width:30rem;  border:none;">
                    <div class="card-body" style="max-width: 30rem; background-color:aliceblue; border-none">
                      <div class="card-header fw-bold rounded-3 border-0  text-primary navbar-brand" style="max-width: 30rem;  background-color:aliceblue; border-none">
                        Customize your {{pizza.name}}
                      </div>

                      <!--customize pizza crust type  option--> 
                      <div class="card shadow text-dark custom-card bg-white mb-3 border-0" style="max-width: 30rem;">
                        <div class="card-body border-0">
                          <div class="card-header fw-bold border-0 bg-white">Choose your crust</div>
                          <p class="card-text">
                            {% for crust in base %}
                            <div class="form-check">
                              {% with pizza.base as selected_crust %}
                                {% if crust == selected_crust %}
                                <label class="form-check-label" for="crustRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                  {{ crust.base_type }}
                                </label>
                                <input class="form-check-input" type="radio" name="crust_{{ pizza.id }}" 
                                  value="{{ crust.id }}" id="crustRadio_{{ pizza.id }}_{{ forloop.counter }}" checked>
                                {% else %}
                                <input class="form-check-input" type="radio" name="crust_{{ pizza.id }}" 
                                  value="{{ crust.id }}" id="crustRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                <label class="form-check-label" for="crustRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                  {{ crust.base_type }}
                                </label>
                                {% endif %}
                              {% endwith %}
                            </div>
                            {% endfor %}
                          </p>
                        </div>
                      </div>
                      
                      <!--customize pizza size option-->

                      <div class="card custom-card shadow text-dark bg-white mb-3 border-0 rounded-3" style="max-width: 30rem;">
                        <div class="card-body border-0 rounded">
                          <div class="card-header fw-bold border-0 bg-white">Select size</div>
                          <p class="card-text">
                            {% for pizza_size in size %}
                            <div class="form-check">
                              {% with pizza.size as selected_size %}
                                {% if pizza_size == selected_size %}
                                <input class="form-check-input" type="radio" name="size_{{ pizza.id }}" 
                                value="{{ pizza_size.id }}" id="sizeRadio_{{ pizza.id }}_{{ forloop.counter }}" checked>
                                  <div class="d-flex justify-content-between" id= "sizeRadio_{{ pizza.id }}_{{ forloop.counter }}">{{ pizza_size.size }}
                                     <span class="text-end"><i class="fa-solid fa-indian-rupee-sign"></i>
                                      {% with new_price=pizza.calculate_price|add:pizza_size.price %}{{ new_price }}{% endwith %}</span></div>
                                {% else %}
                                <input class="form-check-input" type="radio" name="size_{{ pizza.id }}" 
                                  value="{{ pizza_size.id }}" id="sizeRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                  <div class="d-flex justify-content-between" id= "sizeRadio_{{ pizza.id }}_{{ forloop.counter }}">{{ pizza_size.size }} 
                                    <span class="text-end"><i class="fa-solid fa-indian-rupee-sign"></i>
                                      {% with new_price=pizza.calculate_price|add:pizza_size.price %}{{ new_price }}{% endwith %}

                                    </span>
                                  </div>
                                {% endif %}
                              {% endwith %}
                            </div>
                            {% endfor %}
                          </p>
                        </div>
                      </div>

                      <!--customize cheese option-->

                      <div class="card custom-card shadow text-dark bg-white mb-3 border-0 rounded-3" style="max-width: 30rem;">
                        <div class="card-body rounded-3 border-0">
                          <div class="card-header fw-bold border-0 bg-white">What about extra Cheese?</div>
                          <p class="card-text">
                            {% for cheese_type in cheese %}
                            <div class="form-check">
                              {% with pizza.extra_cheese as selected_cheese %}
                                {% if cheese_type == selected_cheese %}
                                <input class="form-check-input" type="radio" name="cheese_{{ pizza.id }}" 
                                  value="{{ cheese_type.id }}" id="cheeseRadio_{{ pizza.id }}_{{ forloop.counter }}" checked>
                                  <div class="d-flex justify-content-between" id= "cheeseRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                    {{ cheese_type.cheese_option }}
                                      {% if cheese_type.cheese_option == "YES" %}  <span class="text-end"><i class="fa-solid fa-indian-rupee-sign"></i>

                                        </span>{{cheese_type.price}} {% endif %}
                                   
                                  </div>
                                
                                {% else %}
                                <input class="form-check-input" type="radio" name="cheese_{{ pizza.id }}" 
                                value="{{ cheese_type.id }}" id="cheeseRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                <div class="d-flex justify-content-between" id= "cheeseRadio_{{ pizza.id }}_{{ forloop.counter }}">
                                  {{ cheese_type.cheese_option }} 
                                    {% if cheese_type.cheese_option == "YES" %}
                                    <span class="text-end"><i class="fa-solid fa-indian-rupee-sign"></i>
                                      {{cheese_type.price}}</span> {% endif %}
                                </div>

                                {% endif %}
                              {% endwith %}
                            </div>
                            {% endfor %}
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- add to cart button and quantity button -->

                    <div class=" p-3" aria-labelledby="customizePizza_{{ pizza.id }}">
                      <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger no-hover addBtn pizzaid_{{pizza.id}}" data-pizzaid="{{pizza.id}}">
                          Add <i class="fa-solid fa-indian-rupee-sign " id="showPrice_{{pizza.id}}"></i> 
                          <span class="showPrice_{{ pizza.id }}" data-pizzaid="{{pizza.id}}">{{pizza.calculate_price}}</span>
                        </button>
                        <div class="btn-group">
                          <button type="button" class="btn btn-danger decreaseQuantity no-hover" data-pizzaid={{pizza.id}} >
                            <i class="fa-solid fa-minus text-white  "></i>
                          </button>
                          <button type="button" class="btn quantity" style="background-color:#dc3545; color:white;pointer-event:none">
                            1
                          </button>
                          <button type="button" class="btn btn-danger no-hover  increaseQuantity"  data-pizzaid={{pizza.id}}>
                            <i class="fa-solid fa-plus text-white"></i>
                          </button>
                          
                        </div>
                      </div>
                      <div class=" p-3 d-none minPrice" aria-labelledby="customizePizza_{{ pizza.id }}">
                        {{pizza.calculate_price}}
                  </div> 
                    </div>
                    </div>
                  </form>
                </ul>
                <button type="button" class="btn btn-sm btn-danger no-hover addBtn pizzaid_{{pizza.id}}" 
                data-pizzaid="{{pizza.id}}"> Add</button>
              </div>

            </div>
          </div>
        </div>
              <!-- Modal -->
      <div class="modal fade" id="pizzaDetails_{{ pizza.id }}" tabindex="-1" 
      aria-labelledby="pizzaDetailsLabel_{{ pizza.id }}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pizzaDetailsLabel_{{ pizza.id }}">{{ pizza.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% with pizza.toppings.all|join:" , " as topping_list %}{{ topping_list }}{% endwith %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger pizzaid_{{pizza.id}} addBtn" data-pizzaid="{{pizza.id}}">
              Add <i class="fa-solid fa-indian-rupee-sign "></i> {{ pizza.calculate_price }}
            </button>
          </div>
        </div>
      </div>
    </div>
      </div>



      {% endfor %}
    </div>
  </div>
</div>
 
 <script src={% static 'js/index.js' %}>
</script>  

{% endblock %}
